@import url('http://fonts.cdnfonts.com/css/arcade-classic');
#general{
  background-image: url("https://www.arcade-fighter.com/images/game-screens/street-fighter-v/halloween-2017/mansion-inglesa-sfv-escenario-cammy.jpg");
  background-size: cover; /*Escala la imagen al mayor tamaño posible sin estirarla.*/
  background-repeat: no-repeat;
  background-position: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  overflow: auto;
  margin: 0%;
}
#nombre{
  font-family: 'ArcadeClassic', sans-serif;

  font-size: 40px;
  color: rgba(15, 211, 245, 0.871);
}
#image{
  border-radius: 20px;
  border: 3px solid  rgba(4, 245, 132, 0.803);
}
#h4{
  border-radius:30px;
  color: rgb(250, 246, 250);
  background-color: rgba(0, 0, 0, 0.721);
}
#botondetail{
  min-width: 130px;
  height: 40px;
  color: rgb(252, 252, 252);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid rgba(122, 215, 255, 0.84);
  background: transparent;
  margin-bottom: 20px;
}
#botondetail:hover {
  background: linear-gradient(
    60deg,
    #350076,
    #6d07a0,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}