@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
#HomeGral {
  background-image: url("https://images5.alphacoders.com/662/662691.jpg");
  background-size: cover; /*Escala la imagen al mayor tamaño posible sin estirarla.*/
  background-repeat: no-repeat;
  background-position:center;
  width: 100vw;
  height: 170vw;
  background-attachment: fixed;
  display:grid;
}
#titulo {
  color: rgb(245, 11, 225);
  font-family: 'Silkscreen', cursive;
  font-size: 80px;
  margin-top: 10px;
  --interval: 0.5s;
  display: block;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 3s infinite;
  text-shadow: 1px 1px 2px black;
}

@keyframes flicker {
  50% {
    color: rgba(26, 116, 243, 0.708);
    filter: saturate(200%) hue-rotate(20deg);
  }
}



#reload {
  width: 140px;
    height: 60px;
    color: rgb(249, 249, 249);
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 20%;
    background-image:linear-gradient(to right, #8360c3, #2ebf91);;
    border-color: rgba(131, 251, 3, 0.84);
    border-radius: 20px;
    margin-top: -3%;
    margin-bottom: 7%;
}
#reload:hover {
  background-image:     linear-gradient(
      to right, 
      #d417ed,
      #f4f4f4, 
      #09f3ad,
      #005a9e,
      #00AAC3,
      #732982
    );
  animation:slidebg 2s linear infinite;
}
@keyframes slidebg {
  to {
    background-position:20vw;
  }
}


#btnCrea {
    width: 140px;
    height: 60px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
    border: 2px solid rgba(122, 215, 255, 0.84);
    background:linear-gradient(to right, #00b4db, #0083b0);;
    margin-left: 50%;
   margin-top: 5px;
   margin-bottom: -20%;
  }
  

  #btnCrea:hover {
    background-image:     linear-gradient(
      to right, 
      #d417ed,
      #f4f4f4, 
      #09f3ad,
      #005a9e,
      #00AAC3,
      #732982
    );
  animation:slidebg 2s linear infinite;
    
  }
 

  #select {
    position: relative;
    border: 2px solid rgba(122, 215, 255, 0.84);
    border-radius: 10px;
    width: 120px;
    margin-top: 2%;
    background-color: rgba(148, 24, 202, 0.511);
    margin-left: 30px;
  }
    #select:before {
      content: '';
      position: absolute;
      right: 5px;
      top: 7px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 5px 0 5px;
      border-color: rgba(0, 110, 255, 0.448) transparent transparent transparent;
      z-index: 5;
      pointer-events: none;
    }
    #select select {
      padding: 5px 8px;
      width: 130%;
      border: none;
      box-shadow: none;
      background-color: linear-gradient(to right, #8e2de2, #4a00e0);
      background-image: none;
      appearance: none;
    }
    #cardHome{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 140%;
      }

    #pag{
      border-radius: 5px;
      border-color: rgba(9, 231, 209, 0.744);
      background: hsla(289, 82%, 56%, 0.304);
      color: hsl(198, 75%, 49%);
      margin: 5px;
      font-size: 15px;
      
      position:relative;
      bottom: 5 px;
      
      
  }