#pag{
  border-radius: 5px;
  border-color: rgba(249, 252, 253, 0.744);
  background: hsla(289, 82%, 56%, 0.304);
  color: hsl(0, 0%, 98%);
  margin: 500px;
  font-size: 15px;
  
 

}
#ul{
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}
navPaginacion {
  text-align: center;
  padding: 20px;
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {display: inline;}
